In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [21]:
# education
edu_file = './education/ACSST5Y2020.S1501_data_with_overlays_2022-04-27T105238.csv'
# Read column names from file
cols = list(pd.read_csv(edu_file, nrows =1))
#print(cols)

# Use list comprehension to remove the unwanted column in **usecol**
# columns with last alpha = M are margin of error data
df = pd.read_csv(edu_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

C:\Users\peter\AppData\Local\Temp\ipykernel_21204\4177600055.py:8: DtypeWarning: Columns (2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,130,140,160,166,172,178,184,190,196,202,208,214,220,226,232,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,386,396,416,422,428,434,440,446,452,458,464,470,476,482,488,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,642,652,672,678,684,690,696,702,708,714,720,726,732,738,744,758,760,762,764,766,768) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(edu_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

In [22]:
# axis=0 -> rows, axis=1 -> cols
edu = df.dropna(axis=1)

In [23]:
edu.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_002E,S1501_C01_003E,S1501_C01_004E,S1501_C01_005E,S1501_C01_006E,S1501_C01_007E,S1501_C01_008E,...,S1501_C06_047E,S1501_C06_048E,S1501_C06_050E,S1501_C06_051E,S1501_C06_053E,S1501_C06_054E,S1501_C06_055E,S1501_C06_056E,S1501_C06_057E,S1501_C06_058E
0,id,Geographic Area Name,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Estimate!!Percent Female!!POVERTY RATE FOR THE...,Estimate!!Percent Female!!POVERTY RATE FOR THE...,Estimate!!Percent Female!!POVERTY RATE FOR THE...,Estimate!!Percent Female!!POVERTY RATE FOR THE...
1,8600000US00601,ZCTA5 00601,1561,235,403,719,204,11886,2793,1374,...,54.6,22.5,83.1,11.7,69.0,21.2,81.2,70.6,72.1,33.3
2,8600000US00602,ZCTA5 00602,3399,219,686,1890,604,27192,6556,2733,...,83.3,31.9,81.6,26.6,68.8,24.4,60.0,55.5,47.0,25.9
3,8600000US00603,ZCTA5 00603,4146,487,1326,2002,331,32901,5636,3244,...,73.2,22.7,78.6,31.5,73.8,26.0,70.2,63.2,50.8,23.0
4,8600000US00606,ZCTA5 00606,587,74,125,328,60,4569,1435,626,...,68.5,21.4,63.3,33.3,63.3,15.4,67.3,71.1,52.0,31.8

In [30]:
health_file = './health/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2021_release.csv'

gen = pd.read_csv(health_file, chunksize=10000000)
health = pd.concat((x.query("Measure == 'Obesity among adults aged >=18 years'") for x in gen), ignore_index=True)

In [31]:
health.head()

,Year,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2019,24421,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,32.1,NaN,NaN,30.7,33.5,3868,POINT (-79.20287232 38.26311557),24421,HLTHOUT,OBESITY,CrdPrv,Obesity
1,2019,50638,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,34.7,NaN,NaN,33.0,36.3,3313,POINT (-92.807367 42.3401733),50638,HLTHOUT,OBESITY,CrdPrv,Obesity
2,2019,77457,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,40.0,NaN,NaN,38.2,41.7,651,POINT (-95.96576975 28.60311349),77457,HLTHOUT,OBESITY,CrdPrv,Obesity
3,2019,98576,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,36.0,NaN,NaN,34.9,37.0,4667,POINT (-122.70257 46.89187014),98576,HLTHOUT,OBESITY,CrdPrv,Obesity
4,2019,1053,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,24.6,NaN,NaN,23.0,26.2,1685,POINT (-72.71095601 42.35347561),1053,HLTHOUT,OBESITY,CrdPrv,Obesity

In [35]:
grocery_file = './grocery/nanda_grocery_zcta_2003-2017_01P.csv'
grocery = pd.read_csv(grocery_file)
grocery = grocery.dropna(axis=0)

In [39]:
grocery = grocery.query("year==2017")
grocery

,zcta19,year,population,aland10,count_445110,count_sales_445110,count_emp_445110,popden_445110,popden_sales_445110,popden_emp_445110,...,aden_emp_4452,count_452311,count_sales_452311,count_emp_452311,popden_452311,popden_sales_452311,popden_emp_452311,aden_452311,aden_sales_452311,aden_emp_452311
2001,1001,2017,17537.0,11.50464,7,7,6,0.399156,0.399156,0.342134,...,0.695371,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2015,1002,2017,30280.0,55.06465,4,4,4,0.132100,0.132100,0.132100,...,0.217926,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2029,1003,2017,11131.0,0.71135,0,0,0,0.000000,0.000000,0.000000,...,0.000000,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2043,1005,2017,5014.0,44.26213,3,3,3,0.598325,0.598325,0.598325,...,0.022593,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2057,1007,2017,14906.0,52.60103,3,3,3,0.201261,0.201261,0.201261,...,0.076044,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463763,99922,2017,306.0,114.93290,0,0,0,0.000000,0.000000,0.000000,...,0.000000,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
463791,99925,2017,901.0,55.62614,0,0,0,0.000000,0.000000,0.000000,...,0.017977,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
463805,99926,2017,1684.0,132.79770,1,1,1,0.593824,0.593824,0.593824,...,0.007530,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
463819,99927,2017,59.0,227.68060,0,0,0,0.000000,0.000000,0.000000,...,0.000000,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
463833,99929,2017,2455.0,2176.05800,1,1,1,0.407332,0.407332,0.407332,...,0.000919,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
social_file = './SocialCharacteristics/ACSDP5Y2020.DP02_data_with_overlays_2022-04-26T170834.csv'
cols = list(pd.read_csv(social_file, nrows =1))
social = pd.read_csv(social_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

<ipython-input-12-4f5e1d9e32f6>:3: DtypeWarning: Columns (0,2,4,8,10,12,16,18,20,24,26,28,32,36,40,42,44,48,52,56,62,66,68,70,72,76,80,84,88,92,96,98,100,104,108,112,116,120,122,124,128,132,136,140,144,146,148,154,158,162,166,170,172,174,176,180,184,188,192,196,198,200,204,208,210,212,216,220,224,228,232,234,236,240,244,248,252,256,260,264,268,272,274,276,280,282,284,288,290,292,296,298,300,304,306,308,312,314,316,320,324,328,332,336,340,344,348,350,352,356,360,364,368,372,376,378,380,384,388,390,392,394,396,400,404,406,408,412,416,418,420,424,428,432,436,440,444,446,448,452,456,460,464,468,472,476,480,484,488,492,494,496,500,504,508,512,516,520,524,528,532,536,540,544,548,552,556,560,564,568,572,576,580,584,588,592,596,600,604,606,608,612) have mixed types. Specify dtype option on import or set low_memory=False.
  social = pd.read_csv(social_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

In [13]:
social

,DP02_0001E,DP02_0001PE,DP02_0002E,DP02_0002PE,DP02_0003E,DP02_0003PE,DP02_0004E,DP02_0004PE,DP02_0005E,DP02_0005PE,...,DP02_0151E,DP02_0151PE,DP02_0152E,DP02_0152PE,DP02_0153E,DP02_0153PE,DP02_0154E,DP02_0154PE,GEO_ID,NAME
0,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Percent!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Percent!!HOUSEHOLDS BY TYPE!!Total households!...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Percent!!HOUSEHOLDS BY TYPE!!Total households!...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Percent!!HOUSEHOLDS BY TYPE!!Total households!...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Percent!!HOUSEHOLDS BY TYPE!!Total households!...,...,Estimate!!ANCESTRY!!Total population!!West Ind...,Percent!!ANCESTRY!!Total population!!West Indi...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,id,Geographic Area Name
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600000US00601,ZCTA5 00601
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600000US00602,ZCTA5 00602
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600000US00603,ZCTA5 00603
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600000US00606,ZCTA5 00606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,12,12,0,0.0,NaN,NaN,0,0.0,NaN,NaN,...,0,0.0,12,12,12,100.0,12,100.0,8600000US99923,ZCTA5 99923
33117,365,365,155,42.5,NaN,NaN,38,10.4,NaN,NaN,...,0,0.0,365,365,307,84.1,215,58.9,8600000US99925,ZCTA5 99925
33118,440,440,239,54.3,NaN,NaN,13,3.0,NaN,NaN,...,0,0.0,440,440,398,90.5,316,71.8,8600000US99926,ZCTA5 99926
33119,0,0,0,-,NaN,NaN,0,-,NaN,NaN,...,0,-,0,0,0,-,0,-,8600000US99927,ZCTA5 99927
33120,988,988,535,54.1,NaN,NaN,92,9.3,NaN,NaN,...,0,0.0,988,988,870,88.1,797,80.7,8600000US99929,ZCTA5 99929

In [16]:
demo_file = './demographics/ACSDP5Y2020.DP05_data_with_overlays_2022-04-26T174048.csv'
cols = list(pd.read_csv(demo_file, nrows =1))
demos = pd.read_csv(demo_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

<ipython-input-16-ae213e93cd0c>:3: DtypeWarning: Columns (0,2,4,8,14,16,20,24,28,32,36,40,44,48,52,56,60,64,70,72,76,80,84,88,92,96,98,100,104,110,112,114,116,120,126,128,130,132,136,140,144,148,152,156,160,164,168,172,176,180,184,188,192,196,200,204,208,212,216,220,224,228,232,236,240,244,248,250,252,256,260,264,268,272,276,278,280,284,288,292,296,300,304,308,312,316,320,324,328,332,336,340,342,344,346,348,352) have mixed types. Specify dtype option on import or set low_memory=False.
  demos = pd.read_csv(demo_file, usecols =[col for col in cols if col[-1]!='M'], na_values='(X)')

In [17]:
demos

,DP05_0001E,DP05_0001PE,DP05_0002E,DP05_0002PE,DP05_0003E,DP05_0003PE,DP05_0004E,DP05_0004PE,DP05_0005E,DP05_0005PE,...,DP05_0086E,DP05_0086PE,DP05_0087E,DP05_0087PE,DP05_0088E,DP05_0088PE,DP05_0089E,DP05_0089PE,GEO_ID,NAME
0,Estimate!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Percent!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Percent!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex r...,Percent!!SEX AND AGE!!Total population!!Sex ra...,Estimate!!SEX AND AGE!!Total population!!Under...,Percent!!SEX AND AGE!!Total population!!Under ...,...,Estimate!!Total housing units,Percent!!Total housing units,"Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...",id,Geographic Area Name
1,16773,16773,8318,49.6,8455,50.4,98.4,NaN,725,4.3,...,7282,NaN,13421,13421,6460,48.1,6961,51.9,8600000US00601,ZCTA5 00601
2,37083,37083,18149,48.9,18934,51.1,95.9,NaN,1386,3.7,...,17510,NaN,30430,30430,14827,48.7,15603,51.3,8600000US00602,ZCTA5 00602
3,45652,45652,22182,48.6,23470,51.4,94.5,NaN,1871,4.1,...,24453,NaN,36770,36770,17649,48.0,19121,52.0,8600000US00603,ZCTA5 00603
4,6231,6231,3075,49.4,3156,50.6,97.4,NaN,244,3.9,...,2789,NaN,5007,5007,2487,49.7,2520,50.3,8600000US00606,ZCTA5 00606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,12,12,0,0.0,12,100.0,-,NaN,0,0.0,...,75,NaN,12,12,0,0.0,12,100.0,8600000US99923,ZCTA5 99923
33117,990,990,552,55.8,438,44.2,126.0,NaN,46,4.6,...,468,NaN,768,768,414,53.9,354,46.1,8600000US99925,ZCTA5 99925
33118,1582,1582,866,54.7,716,45.3,120.9,NaN,62,3.9,...,508,NaN,1128,1128,628,55.7,500,44.3,8600000US99926,ZCTA5 99926
33119,0,0,0,-,0,-,-,NaN,0,-,...,48,NaN,0,0,0,-,0,-,8600000US99927,ZCTA5 99927
33120,2509,2509,1356,54.0,1153,46.0,117.6,NaN,138,5.5,...,1399,NaN,1941,1941,1039,53.5,902,46.5,8600000US99929,ZCTA5 99929